html {
    width: fit-content;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    background-color: rgb(241, 250, 250);

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 4fr) repeat(2, 0);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px 30px;

}

section {
    margin-top: 60px;
    color: gray;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8 {
    width: 270px;
    height: 400px;
    box-shadow: 5px 5px 15px -1px rgba(65, 65, 65, 0.48);
    border-radius: 6px;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    padding: 15px;
    justify-self: center;
}

a.button1 {
    display: inline-block;
    padding: 20px;
    margin-top: 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #6e6e6e;
}

a.button1:hover {
    color: white;
    margin-top: 15px;
    padding: 20px;
    background-color: #254ca0;
    border: 1px solid #254ca0;
    border-radius: 6px;
}

.block1 {
    grid-area: 1 / 1 / 2 / 2;
}

.block2 {
    grid-area: 1 / 2 / 2 / 3;
}

.block3 {
    grid-area: 1 / 3 / 2 / 4;
}

.block4 {
    grid-area: 1 / 4 / 2 / 5;
}

.block5 {
    grid-area: 2 / 1 / 3 / 2;
}

.block6 {
    grid-area: 2 / 2 / 3 / 3;
}

.block7 {
    grid-area: 2 / 3 / 3 / 4;
}

.block8 {
    grid-area: 2 / 4 / 3 / 5;
}

.block1>img {
    object-fit: cover;
    width: 40%;
}

.block2>img {
    object-fit: cover;
    width: 40%;
}

.block3>img {
    object-fit: cover;
    width: 40%;
}

.block4>img {
    object-fit: cover;
    width: 40%;
}

.block5>img {
    object-fit: cover;
    width: 40%;
}

.block6>img {
    object-fit: cover;
    width: 40%;
}

.block7>img {
    object-fit: cover;
    width: 40%;
}

.block8>img {
    object-fit: cover;
    width: 40%;
}